<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring 웹 게시판</title>

    <style>
        .fixed-top {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }
    </style>
</head>
<body>
<header class="Header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/" style="margin-left: 10px;">Board Page</a>
        <div class="btn-group">
            <button class="btn btn-dark" onclick="logout()">Logout</button>
            <!-- modal을 통하여 form을 만들고 form을 통해 글을 게시함.-->
        </div>
    </nav>
</header>
</body>
</html>
